/* ------------------------------------------MENU SECTION */
/* img .box-container ve .box  genel olarak düzenlendi */

.menu .box-container .menu-category{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu .box-container .box h3{
    font-size: 3rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    text-decoration: line-through;
    font-size: 1.5rem;
}
/* ------------------------------------------MENU SECTION */